
.IncidentHeader{
    text-align: center;
}

.IncidentAddWrapper_show{
    transition: width 1s ease-in, opacity 0s ease-in, height 0.4s ease-in;
    opacity: 1;
    width: 100%;
    height: unset;
}
.IncidentAddWrapper_show textarea{
    resize: none;
}

.IncidentAddWrapper_hide{
    transition: width 1s ease-in, opacity 0s ease-in, height 0.4s ease-in;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.IncidentAddWrapper_hide textarea{
    resize: none;
}

.IncidentLoading_show{
    transition: all 1s ease-in;
    opacity: 1;
    width: 100%;
    height: unset;
}

.IncidentLoading_hide{
    transition: all 1s ease-out;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.IncidentGridRow{
    transition: all 0.5s ease-in-out;
}

.IncidentGridRow:hover{
    background-color:lightblue;
    transition: all 0/5s ease-in;
}

.IncidentGridRowSpacing{
    padding-right:1%;
}

.IncidentGridRowVin{
    width: 20%;
}
.IncidentGridRowDt{
    width: 15%;
}
.IncidentGridRowMake{
    width: 10%;

}
.IncidentGridRowModel{
    width: 15%;

}
.IncidentGridRowYear{
    width: 5%;

}
.IncidentGridRowNote{
    width: 30%;

}

.IncidentGridFilterDate{
    width:80%;    
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.IncidentFilterWrapper_show{
    transition: width 1s ease-in, opacity 0s ease-in, height 1s ease-in;
    opacity: 1;
    width: 100%;
    height: unset;
}
.IncidentFilterWrapper_hide{
    transition: width 1s ease-in, opacity 0s ease-in, height 1s ease-in;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.IncidentComponentSpacing{
    margin-top:1%;
    margin-bottom:1%;
}
